<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="classes" thread-count="4">
  <test name="Task2TestAndroid" >
  	<parameter name="deviceQuery" value="@os='android'"/>
  	<parameter name="iosdeviceQuery" value="@os='ios'"/>
    <classes>
      <class name="com.experitest.auto.AndroidDemoTest"/>
      <class name="com.experitest.auto.androidDemoTest2"/>
      <class name="com.experitest.auto.IOSDemoTest"/>     
      <class name="com.experitest.auto.IosDemoTest2"/>           
    </classes>
  </test>   
</suite> <!-- Suite -->
